.sortable {
    cursor: pointer;
    color: #9ec05e;
}

tr:nth-child(even) {
    background-color: #dddddd
}

.warning {
    background-color: #e6813d;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #eeeeee;
}

.header-row {
    background: #34495E;
    color: #fff;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}