.counts {
    background: #34495E;
    color: #fff;
    border-radius: 2px;
    width: 225px;
    padding: 10px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

div.total {
    font-weight: bold;
}

div.types {
    font-weight: normal;
}